* {
  font-family: Helvetica Neue, sans-serif;
  color: #343d46;
  font-size: 12px;
}


.init {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
